include LICENSE.rst
include README.rst
include pyproject.toml
include setup.cfg
include Makefile

recursive-include erfa *.c *.h *.templ

recursive-include licenses *
recursive-include cextern/erfa *

exclude .gitignore
prune build

global-exclude *.pyc *.o
