include LICENSE.rst
include README.rst
include pyproject.toml
include setup.cfg
include erfa_generator.py

recursive-include erfa *.c *.h *.templ

recursive-include licenses *
recursive-include liberfa/erfa *

# This subpckage is only used in development checkouts and should not be
# included in built tarballs
prune erfa/_dev

exclude liberfa/erfa/Makefile
exclude liberfa/erfa/config.h
exclude liberfa/erfa/config.log
exclude liberfa/erfa/config.status
exclude liberfa/erfa/erfa.pc
exclude liberfa/erfa/libtool
exclude liberfa/erfa/m4/l*
exclude liberfa/erfa/src/Makefile
exclude liberfa/erfa/stamp-h1

prune liberfa/erfa/autom4te.cache
prune liberfa/erfa/src/.deps

exclude .gitignore
prune build

global-exclude *.pyc *.o
