[build-system]
requires = [
    "setuptools",
    "setuptools_scm>=6.2",
    "jinja2>=2.10.3",
    "numpy>=1.25,<2; python_version<='3.11'",

    # For Python versions which aren't yet officially supported, we specify an
    # unpinned NumPy which allows source distributions to be used and allows
    # wheels to be used as soon as they become available.
    "numpy>=1.26.0b1; python_version>='3.12'"
]
build-backend = 'setuptools.build_meta'
