@type_check_only
class Ufunc_Nin${nin}_Nout$nout[NTypes: Literal[0, 1], ReturnT: np.generic](np.ufunc):  # type: ignore[misc]
    @property
    @override
    def identity(self) -> None: ...
    @property
    @override
    def nin(self) -> Literal[$nin]: ...
    @property
    @override
    def nout(self) -> Literal[$nout]: ...
    @property
    @override
    def nargs(self) -> Literal[$nargs]: ...
    @property
    @override
    def ntypes(self) -> NTypes: ...
    @property
    @override
    def signature(self) -> None: ...
    @override
    @overload
    def __call__(self, /, out: tuple[None] | None = None) -> ReturnT: ...
    @overload
    def __call__(self, /, out: EllipsisType) -> np.ndarray[tuple[()], np.dtype[ReturnT]]: ...
    @overload
    def __call__(self, /, out: NDArray[ReturnT] | tuple[NDArray[ReturnT]]) -> NDArray[ReturnT]: ...
    @override
    def at(self, a: Never, indices: Never, /) -> NoReturn: ...  # type: ignore[override]
    @override
    def accumulate(self, array: Never, /) -> NoReturn: ...  # type: ignore[override]
    @override
    def reduce(self, array: Never, /) -> NoReturn: ...  # type: ignore[override]
    @override
    def reduceat(self, array: Never, /, indices: Never) -> NoReturn: ...  # type: ignore[override]
    @override
    def outer(self, A: Never, B: Never, /) -> NoReturn: ...  # type: ignore[override]
